body {
 font-family: 'Lato', sans-serif;
 background-color: #ffffff; 
}

.logo {
    max-width: 140px;
}

h1 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

h2, h3, h4, h5, h6, p {
/*    color: #ED7703;*/
    font-family: 'Lato', sans-serif;
    color: rgba(0,134,136,1.0);
}

h4 {
    margin-bottom: 1.2rem;
}

.header-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* TITLE SECTIONS */

.title-section {
    background-color: #ffffff;
    background: url("../img/global-conf-header.png") no-repeat center;
    background-size: cover;
    height: 100%;
    max-height: 40rem;
    position: relative;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
    .title-section {
        max-height: 20rem;
    }

}

.title-section h1, .title-section h2, .title-section h3, .title-section h4, .title-section p {
    color: #fff;
}

.stats-strip {
    background-color: rgba(0,40,71,0.8);
    position: absolute;
    bottom: 0rem;
    width: 100%;
    padding-top: 1.5rem;
}

.title-strip h4 {
    margin-bottom: 0;
    color: #fff;
}

.schools-section {
   padding: 1rem 0 1rem 0;
}

.stats-section {
   color: rgba(0,40,71,1.0);
   padding: 1rem 0 1rem 0;
}

.stats-section h1 {
    font-weight: bold;
    font-size: 2rem;
    color: rgba(0,134,136,1.0);
}

.stats-section p {
    line-height: 1.2rem;
}

.attendees-stats {
    background: url("../img/person_speaking.jpg") no-repeat center;
    background-size: cover;
}

.strip-color {
    display: flex;
    align-items: center
}

.strip-color h3, .strip-color h4 {
    margin-bottom: 0;
    color: #fff;
}


.strip-color-1 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgba(0,195,198,0.66);
}

.strip-color-2 {
    padding-top: 3.2rem;
    padding-bottom: 3.0rem;
    background-color: rgba(0,165,167,0.66);
}

.strip-color-3 {
    padding-top: 2.6rem;
    padding-bottom: 2.5rem;
    background-color: rgba(0,134,136,0.66);
}

.strip-color-4 {
    padding-top: 2.0rem;
    padding-bottom: 1.8rem;
    background-color: rgba(0,102,104,0.66);
}

.strip-color-5 {
    padding-top: 1.6rem;
    padding-bottom: 1.4rem;
    background-color: rgba(0,67,68,0.66);
}

.strip-color-6 {
    padding-top: 1.0rem;
    padding-bottom: 0.8rem;
    background-color: rgba(0,42,43,0.66);
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
    .strip-color-1 {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .strip-color-2 {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .strip-color-3 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .strip-color-4 {
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .strip-color-5 {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .strip-color-6 {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

.text-green {
    color: rgba(0,134,136,1.0);
}

.text-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-sessions {
/*    border-top: 1px dashed rgba(0,134,136,1.0);*/
/*-webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.2);
box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.2);*/
padding: 1rem;
/*margin-bottom: 1.2rem;*/
/*border-radius: 0.4rem;*/
position: relative;
border-bottom: 1px solid rgba(0,0,0,0.1);
}

.card-sessions h4, .card-sessions h5 {
    margin-bottom: 0.1rem;
}

.card-sessions h2, .card-sessions p {
    color: #000;
}

.card-number {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0.4rem;
    color: rgba(0,134,136,1.0);
}

.text-speakers {
    bottom: 0;
}

.text-speakers p {
    margin-bottom: 0;
}

.infographic-section {
    color: #00284A;
    background-color: #ffffff;
    padding-bottom: 
}

.card {
    background-color: #00284A;
    padding: 1rem;
    border-radius: 2px;
}

.card h4 {
    margin-bottom: 2rem;
}

.card-circle {
    width: 100px;
    height: 100px;
    background-color: #00284A;
    color: #fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

tbody, tfoot, thead, tbody tr:nth-child(even) {
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

table h1 {
    font-weight: bold;
}

hr {
    margin-bottom: 4rem;
}

.schools-section p {
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
    line-height: 1.0rem;
}


.breadcrumbs li {
    text-transform: capitalize;
    padding-top: 1rem;
}

.card-divider {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	background: #e6e6e6;
}

.top-bar {
    border-bottom: 1px solid black;
}

.top-bar, .top-bar ul {
	background-color: #fff;
}